
<button type="button" class="btn btn-default btn-large" ng-click="isCollapsed = !isCollapsed">Lisää vuoro</button>

<div uib-collapse="isCollapsed">
  <form role="form" class="well well-lg">

      <p class="form-group">
        <label>Päivämäärä: {{ date | date:'dd/MM/yyyy' }}</label>
        <input type="date" name="date" ng-model="date" class="form-control" />
        <button type="button" class="btn btn-sm btn-default" ng-click="today()">Tänään</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="yesterday()">Eilen</button>
      </p>



      <p class="form-group">
        <label>Alvillinen kassa</label>
        <input type="number" name="earnings" ng-model="earnings" class="form-control">
      </p>

      <button class="btn btn-primary" ng-click="addShift(date, earnings)">lisää vuoro</button>
  </form>
</div>
<hr>

<select ng-model="selectedMonth" class="form-control">
      <option></option>
      <option value="0">Tammikuu</option>  
      <option value="1">Helmikuu</option>  
      <option value="2">Maaliskuu</option>  
      <option value="3">Huhtikuu</option>  
      <option value="4">Toukokuu</option>  
      <option value="5">Kesäkuu</option>  
      <option value="6">Heinäkuu</option>  
      <option value="7">Elokuu</option>  
      <option value="8">Syyskuu</option>  
      <option value="9">Lokakuu</option>  
      <option value="10">Marraskuu</option>  
      <option value="11">Joulukuu</option>  
</select>
<br>
<ul ng-repeat="shift in shifts | filter: monthFilter | orderBy: 'date'">
  <li>{{shift.date | date:'dd/MM/yyyy'}} kassa: {{shift.earnings}} alv0: {{shift.earnings0}} wage: {{shift.wage}} <br>
  </li>
</ul>
<hr>


