
<button type="button" class="btn btn-default btn-large" ng-click="isCollapsed = !isCollapsed">Lisää vuoro</button>

<div uib-collapse="isCollapsed">
  <form role="form" class="well well-lg">

      <p class="form-group">
        <label>Päivämäärä: {{ date | date:'dd/MM/yyyy' }}</label>
        <input type="date" name="date" ng-model="date" class="form-control" />
        <button type="button" class="btn btn-sm btn-default" ng-click="today()">Tänään</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="yesterday()">Eilen</button>
      </p>



      <p class="form-group">
        <label>Alvillinen kassa</label>
        <input type="number" name="earnings" ng-model="earnings" class="form-control">
      </p>

      <button class="btn btn-primary" ng-click="addShift(date, earnings); isCollapsed = !isCollapsed">lisää vuoro</button>
  </form>
</div>
<hr>

<select ng-model="selectedMonth" class="form-control">
      <option value=""></option>
      <option value="0">Tammikuu</option>  
      <option value="1">Helmikuu</option>  
      <option value="2">Maaliskuu</option>  
      <option value="3">Huhtikuu</option>  
      <option value="4">Toukokuu</option>  
      <option value="5">Kesäkuu</option>  
      <option value="6">Heinäkuu</option>  
      <option value="7">Elokuu</option>  
      <option value="8">Syyskuu</option>  
      <option value="9">Lokakuu</option>  
      <option value="10">Marraskuu</option>  
      <option value="11">Joulukuu</option>  
</select>
<br>
<div class="sumMonth clearfix">
  <h3>{{monthName}}</h3>
  <div class="pull-left">
    <p>bruttopalkka:<span class="pull-right" style="padding-left:2em;"><strong>{{sumMonth1.wage | number: 2}}</strong></span></p> 
    <p>-enn.pidätys:<span class="pull-right">{{sumMonth1.tax | number: 2}}</span></p>
    <p>-tyel:<span class="pull-right">{{sumMonth1.tyel | number: 2}}</span></p>
    <p>-tvm:<span class="pull-right">{{sumMonth1.tvm | number: 2}}</span></p>
    <strong><p>nettopalkka:<span class="pull-right">{{sumMonth1.pay | number: 2}}</span></p></strong>
  </div>
  <div class="pull-right">
    <p>bruttokassa: {{sumMonth1.alv | number: 2}}e</p>
  <p>nettokassa: {{sumMonth1.alv0 | number: 2}}e</p> 
</div>
</div>

<hr>


<div class="table-responsive" ng-if="shifts.length != 0">
  <p>vuoroja: {{filtered.length}} (~{{sumMonth1.wage / filtered.length | number:2}}e/vuoro)</p>
  <table class="table table-striped" style:"text-align:right;">
    <thead>
      <tr>
        <td>Päivämäärä</td>
        <td>Bruttokassa</td>
        <td>Nettokassa</td>
        <td>Bruttopalkka</td>
        <td>Poista vuoro</td>
      </tr>
    </thead>
    </tbody>
      <tr ng-repeat="shift in filtered = (shifts | filter: monthFilter)">
        <td>{{shift.date | date:'dd/MM/yyyy'}}</td>
        <td>{{shift.earnings | number: 2}}</td>
        <td>{{shift.earnings0 | number: 2}}</td>
        <td>{{shift.wage | number: 2}}</td>
        <td><button ng-click="shifts.$remove(shift)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></td>
      </tr>
    </tbody>
  </table>

</div>
